{% extends 'root.html' %}

{% block title %}
    Main
{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		{% if request.user.type == 'Admin' or request.user.type == 'Owner' %}
			<div class="btn-toolbar btn-right" role="toolbar">
				<a href="{% url 'project_create' %}" class="btn btn-secondary">
					New project
				</a>
			</div>
		{% endif %}
    	<div class="row cards-wrapper">
		{% for project in projects %}
		<div class="col-sm-6 col-md-4 col-lg-3 object-card">
			<div class="card">
				<div class="card-body">
					<div class="card-title">
						<a href="{% url 'suits' project.pk %}">{{project.name}}</a>
					</div>
					<p>Description: {{project.desc}}</p>
					<p>Author: {{project.user.username}}</p>
					<p>Creation date: {{project.creation_date}}</p>


					{% if request.user.type == 'Admin' or request.user.type == 'Owner' %}
						<a href="{% url 'project_update' pk=project.pk %}" class="btn btn-secondary">
							Edit
						</a>
						<button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteModel_{{ project.pk }}">Delete</button>
					{% endif %}
				</div>
			</div>
			<form action="{% url 'project_del' pk=project.pk %}" method="post">

			{% csrf_token %}
				<div class="modal fade" id="deleteModel_{{ project.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel">Are you sure to delete project?</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button class="btn btn-danger" type="submit">Delete</button>
					  </div>
					</div>
				  </div>
				</div>
			</form>
		</div>
		{% endfor %}
        <nav aria-label="Page navigation" class="page">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}{% if sort_enabled %}&sort={{ sort }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                       class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                {% if page_obj.number == page_number %}
                    <li class="page-item active">
                        <span class="page-link">{{ page_number }}
                        </span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ page_number }}{% if sort_enabled %}&sort={{ sort }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                           class="page-link">
                            {{ page_number }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}{% if sort_enabled %}&sort={{ sort }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                       class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
    </div>
		{% else %}
			<div class="alert alert-warning" role="alert" style="width: 100%">
				You are not authorized
			</div>
		{% endif %}
{% endblock %}