{% extends 'root.html' %}

{% block title %}
    Main
{% endblock %}

{% block content %}
	<style>
		.cards-wrapper {
			margin: 0 1.5rem 1.5rem 1.5rem;
		}

        .project-card {
        	padding-top: calc(var(--bs-gutter-x) * .5);
        	padding-right: calc(var(--bs-gutter-x) * 1);
        	padding-bottom: calc(var(--bs-gutter-x) * .5);
        	padding-left: 0;
        }

		.page {
			margin: 1rem 0;
		}
	</style>
	<div class="btn-toolbar" role="toolbar">
		<a href="{% url 'project_create' %}" class="btn btn-secondary">
			New project
		</a>
	</div>
    <div class="row cards-wrapper">
		{% for project in projects %}
		<div class="col-sm-6 col-md-4 col-lg-3 project-card">
			<div class="card">
				<div class="card-body">
					<div class="card-title">
						<a href="{% url 'test_cases' project.pk %}">{{project.name}}</a>
					</div>
					<p>Description: {{project.desc}}</p>
					<p>Author: {{project.user.username}}</p>
					<p>Creation date: {{project.creation_date}}</p>


					<a href="{% url 'project_update' pk=project.pk %}" class="btn btn-secondary">
						Edit
					</a>
					<a href="{% url 'project_del' pk=project.pk %}" class="btn btn-danger">
						Delete
					</a>
				</div>
			</div>
		</div>
		{% endfor %}
        <nav aria-label="Page navigation example" class="page">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}{% if sort_enabled %}&sort={{ sort }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                       class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                {% if page_obj.number == page_number %}
                    <li class="page-item active">
                        <span class="page-link">{{ page_number }}
                        </span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ page_number }}{% if sort_enabled %}&sort={{ sort }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                           class="page-link">
                            {{ page_number }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}{% if sort_enabled %}&sort={{ sort }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                       class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
    </div>
{% endblock %}