{% extends 'root.html' %}


{% block title %}
    TC
{% endblock %}

{% block content %}

	<style>

		.page {
			margin: 1rem 0;
		}

		.tag {
			border-radius: 4px;
			background-color: lightblue;
			padding: 0.25rem 0.5rem;
			text-decoration: none;
		}
	</style>

	<div class="btn-toolbar" role="toolbar">
		<a href="{% url 'projects' %}" class="btn btn-secondary">
			Back in {{ proj_name }}
		</a>
		<a href="{% url 'tc_create' proj_id=proj_id %}" class="btn btn-secondary" >
			New test-case
		</a>
	</div>
    <table class="table">
		<thread>
			<tr>
				<th scope="col">#</th>
				<th scope="col">TC Name</th>
				<th scope="col">TC Description</th>
				<th scope="col">Status</th>
				<th scope="col">Created by</th>
				<th scope="col">Creation Date</th>
				<th scope="col">Modified by</th>
				<th scope="col">Modification Date</th>
				<th scope="col"> </th>
			</tr>
		</thread>
		{% for tc in test_cases %}
			<tbody>
				<tr>
					<th scope="row">{{ tc.id }}</th>
					<td><a href="{% url 'tc_update' proj_id=proj_id pk=tc.pk %}" class="card-title">{{ tc.name }}</a></td>
					<td>{{ tc.desc }}</td>
					<td>{{ tc.status }}</td>
					<td>{{ tc.user.username }}</td>
					<td>{{ tc.creation_date }}</td>
					<td>{{ tc.modified_by }}</td>
					<td>{{ tc.modification_date }}</td>
					<td>
						<a href="{% url 'tc_delete' proj_id=proj_id pk=tc.pk %}" class="text-decoration-none link-danger">
							Delete
						</a>
					</td>
				</tr>
			</tbody>
		{% endfor %}
    </table>
        <nav aria-label="Page navigation example" class="page">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}{% if sort_enabled %}&sort={{ sort }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                       class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                {% if page_obj.number == page_number %}
                    <li class="page-item active">
                        <span class="page-link">{{ page_number }}
                        </span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ page_number }}{% if sort_enabled %}&sort={{ sort }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                           class="page-link">
                            {{ page_number }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}{% if sort_enabled %}&sort={{ sort }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                       class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}