{% extends 'root.html' %}

{% block content %}
<style>
    .invisible {
        display:none
    }

	.proj-wrapper {
		display: flex;
		flex-direction: column;
		align-items: start;
		flex-grow: 1;
	}

	.steps-wrapper {
		display: flex;
		flex-direction: column;
	}

	.step {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		margin-top: 1rem;
	}
</style>
<script>
	var submitHandler = function() {
		var textareas = [...document.querySelectorAll("textarea")]
		.filter(item => item.dataset.hasOwnProperty("index"))
		.sort((a, b) => a.dataset.index - b.dataset.index)
		.map(item => ({index: item.dataset.index, name: item.name, value: item.value}));

		var steps = [];
		textareas.forEach(item => {
			if (!steps[item.index]) {
				steps[item.index] = {"index": item.index};
			}
			var currentItem = steps[item.index];
			currentItem[item.name] = item.value;
		})
		var form = document.querySelector("form");
		form.steps.value = JSON.stringify(steps);
		form.submit();
	};

	var updateIndexes = function() {
		Array.from(stepsWrapper.children).forEach((child, i) => {
			child.dataset.index = i;
			Array.from(child.children).forEach(subChild => {
				if (subChild.classList.contains("step_number")) {
					subChild.innerText = i;
				} else {
					subChild.dataset.index = i;
				}
			});
		});
	};

	var addStep = function(name, value, beforeTarget) {
		var step = document.createElement("div");
		step.classList.add("step");
		stepsWrapper.insertBefore(step, beforeTarget || null);

		var label = document.createElement("p");
		label.classList.add("step_number");

		var stepName = document.createElement("textarea");
		stepName.name = "step_name";
		if (name != null) {
			stepName.innerText = name;
		}

		var stepValue = document.createElement("textarea");
		stepValue.name = "step_value";
		if (value != null) {
			stepValue.innerText = value;
		}

		var delBtn = document.createElement("button");
		delBtn.type = "button";
		delBtn.onclick= delStep;
		delBtn.classList.add("btn", "btn-danger");
		delBtn.innerText = "Delete step";

		var copyBtn = document.createElement("button");
		copyBtn.type = "button";
		copyBtn.onclick= copyStep;
		copyBtn.classList.add("btn", "btn-secondary");
		copyBtn.innerText = "Copy step";

		step.appendChild(label);
		step.appendChild(stepName);
		step.appendChild(stepValue);
		step.appendChild(delBtn);
		step.appendChild(copyBtn);

		updateIndexes();
	};

	var delStep = function(event) {
		var me = event.target;
		var steps = document.querySelectorAll(".step");
		var step = Array.from(steps).find(item => item.dataset.index == me.dataset.index);
		step && step.remove();

		updateIndexes();
	};

	var copyStep = function(event) {
		var me = event.target;
		var steps = document.querySelectorAll(".step");
		var step = Array.from(steps).find(item => item.dataset.index == me.dataset.index);
		var stepName = step.children.step_name.value;
		var stepValue = step.children.step_value.value;

		addStep(stepName, stepValue, step);

		updateIndexes();
	};
</script>
	<div class="proj-wrapper">
		{% if user.is_authenticated %}
			{% if tc and tc.pk %}
			<h3>Edit test-case</h3>
			{% else %}
			<h3>Create new test-case</h3>
			{% endif %}

			{% if tc and tc.pk %}
			<form action="{% url 'tc_update' proj_id=proj_id pk=tc.pk %}" method="post">
			{% else %}
			<form action="{% url 'tc_create' proj_id=proj_id %}" method="post">
			{% endif %}

			{% csrf_token %}
				<input name="user_id" value="{{ user_id }}" class="invisible"/>
				<input name="proj_id" value="{{ proj_id }}" class="invisible"/>
				<input name="steps" class="invisible"/>
				<p>
					<label for="TCName">Test-case name</label>
					<input name="name" id="TCName" value="{{ name }}"/>
				</p>



				{% if tc and tc.pk %}
					<p>
						<label>Created by: {{ tc.user.username }}</label>
					</p>
					<p>
						<label>Modified by: {{ modified_by.username }}</label>
					</p>
					<p>
						<label>Creation date: {{ tc.creation_date }}</label>
					</p>
					<p>
						<label>Modification date: {{ tc.modification_date }}</label>
					</p>
				{% endif %}

				<p>
					<label for="Desc">Description</label>
					<textarea name="desc" id="Desc">{{ desc }}</textarea>
				</p>
				<button class="btn btn-success" onclick="addStep()" type="button">Add step</button>
				<div class="steps-wrapper" id="stepsWrapper">
					{% for step in steps %}
						<div class="step" data-index="{{ step.index }}">
							<p class="step_number">{{ step.index }}</p>
							<textarea name="step_name" data-index="{{ step.index }}">{{ step.step_name }}</textarea>
							<textarea name="step_value" data-index="{{ step.index }}">{{ step.step_value }}</textarea>
							<button class="btn btn-danger" onclick="delStep(event)" type="button" data-index="{{ step.index }}">Delete step</button>
							<button class="btn btn-secondary" onclick="copyStep(event)" type="button" data-index="{{ step.index }}">Copy step</button>
						</div>
					{% endfor %}
				</div>
				<select name="status">
					<option {% if 'DRAFT' == status %} selected {% endif %}>DRAFT</option>
					<option {% if 'ACTIVE' == status %} selected {% endif %}>ACTIVE</option>
					<option {% if 'OUTDATED' == status %} selected {% endif %}>OUTDATED</option>
				</select>
			</form>
			<button class="btn btn-success" onclick="submitHandler()">Save</button>
		{% else %}
			<p>You are not authorized</p>
		{% endif %}
	</div>

{% endblock %}