{% extends 'root.html' %}

{% block content %}
<style>
    .invisible {
        display:none
    }

	.proj-wrapper {
		display: flex;
		flex-direction: column;
		align-items: start;
		flex-grow: 1;
	}

	.steps-wrapper {
		display: flex;
		flex-direction: column;
	}

	.step {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		margin-top: 1rem;
	}
</style>
<script>
	var submitHandler = function() {
		var textareas = [...document.querySelectorAll("textarea")]
		.filter(item => item.dataset.hasOwnProperty("index"))
		.sort((a, b) => a.dataset.index - b.dataset.index)
		.map(item => ({index: item.dataset.index, name: item.name, value: item.value}));

		var steps = [];
		textareas.forEach(item => {
			if (!steps[item.index]) {
				steps[item.index] = {"index": item.index};
			}
			var currentItem = steps[item.index];
			currentItem[item.name] = item.value;
		})
		var form = document.querySelector("form");
		form.steps.value = JSON.stringify(steps);
		form.submit();
	};

	var updateIndexes = function() {
		Array.from(stepsWrapper.children).forEach((child, i) => {
			child.dataset.index = i;
			Array.from(child.children).forEach(subChild => {
				if (subChild.classList.contains("step_number")) {
					subChild.innerText = i;
				} else {
					subChild.dataset.index = i;
				}
			});
		});
	};

	var addStep = function() {
		var step = document.createElement("div");
		step.classList.add("step");
		stepsWrapper.appendChild(step);

		var label = document.createElement("p");
		label.classList.add("step_number");

		var stepName = document.createElement("textarea");
		stepName.name = "step_name";

		var stepValue = document.createElement("textarea");
		stepValue.name = "step_value";

		step.appendChild(label);
		step.appendChild(stepName);
		step.appendChild(stepValue);

		updateIndexes();
	};
</script>
	<div class="proj-wrapper">
		{% if user.is_authenticated %}
			<h3>Create new test-case</h3>
			<form action="{% url 'tc_detail' pk=proj_id %}" method="post">

			{% csrf_token %}
				<input name="user_id" value="{{ user_id }}" class="invisible"/>
				<input name="proj_id" value="{{ proj_id }}" class="invisible"/>
				<input name="steps" class="invisible"/>
				<p>
					<label for="TCName">Test-case name</label>
					<input name="name" id="TCName" value="{{ name }}"/>
				</p>
				<p>
					<label for="Desc">Description</label>
					<textarea name="desc" id="Desc">{{ desc }}</textarea>
				</p>
				<button class="btn btn-success" onclick="addStep()" type="button">Add step</button>
				<div class="steps-wrapper" id="stepsWrapper">
					{% for step in steps %}
						<div class="step" data-index="{{ step.index }}">
							<p class="step_number">{{ step.index }}</p>
							<textarea name="step_name" data-index="{{ step.index }}">{{ step.step_name }}</textarea>
							<textarea name="step_value" data-index="{{ step.index }}">{{ step.step_value }}</textarea>
						</div>
					{% endfor %}
				</div>
				<p name="status">{{ status }}</p>
			</form>
			<button class="btn btn-success" onclick="submitHandler()">Create</button>
		{% else %}
			<p>You are not authorized</p>
		{% endif %}
	</div>

{% endblock %}