{% extends 'root.html' %}

{% block content %}
<style>
	.case-wrapper {
		margin: 1.5rem;
		width: 95%;
	}

	.steps-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 1rem;
	}

	.step {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		margin-top: 1rem;
	}

	.row {
		width: 100%;
		margin-bottom: 1rem;
	}

	form {
		width: 100%;
	}

</style>
<script>
	var submitHandler = function() {
		var form = document.querySelector("form");
		var formValid = !!form.status.value && !!form.desc.value && !!form.name.value;
			if (!formValid) {
				alert("Fill all fields!");
				bootstrap.Modal.getInstance('#saveModal').hide()
				return;
			}
		var textareas = [...document.querySelectorAll("textarea")]
		.filter(item => item.dataset.hasOwnProperty("index"))
		.sort((a, b) => a.dataset.index - b.dataset.index)
		.map(item => ({index: item.dataset.index, name: item.name, value: item.value}));

		var steps = [];
		textareas.forEach(item => {
			if (!steps[item.index]) {
				steps[item.index] = {"index": item.index};
			}
			var currentItem = steps[item.index];
			currentItem[item.name] = item.value;
		})
		form.steps.value = JSON.stringify(steps);
		form.submit();
	};

	var updateIndexes = function() {
		Array.from(stepsWrapper.children).forEach((child, i) => {
			child.dataset.index = i;
			Array.from(child.children).forEach(subChild => {
				if (subChild.classList.contains("step_number")) {
					subChild.innerText = i;
				} else {
					subChild.dataset.index = i;
				}
			});
		});
	};

	var addStep = function(name, value, beforeTarget) {
		var step = document.createElement("div");
		step.classList.add("step");
		stepsWrapper.insertBefore(step, beforeTarget || null);

		var label = document.createElement("p");
		label.classList.add("step_number");

		var stepName = document.createElement("textarea");
		stepName.name = "step_name";
		stepName.classList.add("form-control");
		if (name != null) {
			stepName.innerText = name;
		}

		var stepValue = document.createElement("textarea");
		stepValue.name = "step_value";
		stepValue.classList.add("form-control");
		if (value != null) {
			stepValue.innerText = value;
		}

		var delBtn = document.createElement("button");
		delBtn.type = "button";
		delBtn.onclick= delStep;
		delBtn.classList.add("btn", "btn-danger");
		delBtn.innerText = "Delete";

		var copyBtn = document.createElement("button");
		copyBtn.type = "button";
		copyBtn.onclick= copyStep;
		copyBtn.classList.add("btn", "btn-secondary");
		copyBtn.innerText = "Copy";

		step.appendChild(label);
		step.appendChild(stepName);
		step.appendChild(stepValue);
		step.appendChild(delBtn);
		step.appendChild(copyBtn);

		updateIndexes();
	};

	var delStep = function(event) {
		var me = event.target;
		var steps = document.querySelectorAll(".step");
		var step = Array.from(steps).find(item => item.dataset.index == me.dataset.index);
		step && step.remove();

		updateIndexes();
	};

	var copyStep = function(event) {
		var me = event.target;
		var steps = document.querySelectorAll(".step");
		var step = Array.from(steps).find(item => item.dataset.index == me.dataset.index);
		var stepName = step.children.step_name.value;
		var stepValue = step.children.step_value.value;

		addStep(stepName, stepValue, step);

		updateIndexes();
	};
</script>
	{% if user.is_authenticated %}
		<div class="nav-wrapper">
			<nav aria-label="breadcrumb" class="custom-breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'projects' %}">Project {{ proj_name }}</a></li>
					<li class="breadcrumb-item"><a href="{% url 'test_cases' proj_id=proj_id suit_id=suit_id %}">Suit {{ suit_name }}</a></li>
					<li class="breadcrumb-item active" aria-current="page">Case {{ tc.name }}</li>
				</ol>
			</nav>
		</div>
		<div class="form-wrapper">
			<div class="case-wrapper">
				<div class="row">
					<h3 class="col-sm-6">Edit test-case</h3>
					<a class="btn btn-success col-sm-2" href="{% url 'tc_history' proj_id=proj_id suit_id=suit_id pk=tc.pk %}">Show history</a>
				</div>
				<form action="{% url 'tc_update' proj_id=proj_id suit_id=suit_id pk=tc.pk %}" method="post">

			{% csrf_token %}
				<div class="form-with-fields">
					<input name="user_id" value="{{ user_id }}" class="invisible"/>
					<input name="proj_id" value="{{ proj_id }}" class="invisible"/>
					<input name="suit_id" value="{{ suit_id }}" class="invisible"/>
					<input name="steps" class="invisible"/>
					<p class="field-wrapper">
						<label>Test-case name: </label>
						<label>{{ name}}</label>

					</p>
					{% if tc and tc.pk %}
						<p class="field-wrapper">
							<label>Created by: </label>
							<label>{{ tc.user.username }}</label>
						</p>
						<p class="field-wrapper">
							<label>Modified by: </label>
							<label>{{ modified_by.username }}</label>
						</p>
						<p class="field-wrapper">
							<label>Creation date: </label>
							<label>{{ tc.creation_date }}</label>
						</p>
						<p class="field-wrapper">
							<label>Modification date: </label>
							<label>{{ tc.modification_date }}</label>
						</p>
					{% endif %}

					<p class="field-wrapper">
						<label>Description: </label>
						<label>{{ desc }}</label>
					</p>
					<p class="field-wrapper">
						<label>Priority: </label>
						<label>{{ priority }}</label>
					</p>
					<p class="field-wrapper">
						<label>Status: </label>
						<label>{{ status }}</label>
					</p>

				</div>
				<div class="steps-wrapper" id="stepsWrapper">
					{% for step in steps %}
						<div class="step" data-index="{{ step.index }}">
							<label class="step_number">{{ step.index }}</label>
							<label class="form-control" name="step_name" data-index="{{ step.index }}">{{ step.step_name }}</label>
							<label class="form-control" name="step_value" data-index="{{ step.index }}">{{ step.step_value }}</label>
						</div>
					{% endfor %}
				</div>
			</form>
			</div>
		{% else %}
			<div class="alert alert-warning" role="alert" style="width: 100%">
				You are not authorized
			</div>
		{% endif %}
	</div>

{% endblock %}