{% extends 'root.html' %}


{% block title %}
    TC
{% endblock %}

{% block content %}

	<style>

		.page {
			margin: 1rem 0;
		}

		.table {
			margin: 1.5rem;
		}

		th {
			width: 10rem;
			max-width: 10rem;
			word-wrap: break-word;
		}

		td {
			width: 10rem;
			max-width: 10rem;
			word-wrap: break-word;
		}

		.tag {
			border-radius: 4px;
			background-color: lightblue;
			padding: 0.25rem 0.5rem;
			text-decoration: none;
		}
	</style>

	<div class="btn-toolbar" role="toolbar">
		<a href="{% url 'suits' pk=proj_id %}" class="btn btn-secondary">
			Back in {{ suit_name }}
		</a>
		<a href="{% url 'tc_create' proj_id=proj_id suit_id=suit_id %}" class="btn btn-secondary" >
			New test-case
		</a>
	</div>
    <table class="table">
		<thread>
			<tr>
				<th scope="col">#</th>
				<th scope="col">TC Name</th>
				<th scope="col">TC Description</th>
				<th scope="col">Status</th>
				<th scope="col">Created by</th>
				<th scope="col">Creation Date</th>
				<th scope="col">Modified by</th>
				<th scope="col">Modification Date</th>
				<th scope="col"> </th>
			</tr>
		</thread>
		{% for tc in test_cases %}
			<tbody>
				<tr>
					<th scope="row">{{ tc.id }}</th>
					<td><a href="{% url 'tc_update' proj_id=proj_id suit_id=suit_id pk=tc.pk %}" class="card-title">{{ tc.name }}</a></td>
					<td>{{ tc.desc }}</td>
					<td>{{ tc.status }}</td>
					<td>{{ tc.user.username }}</td>
					<td>{{ tc.creation_date }}</td>
					<td>{{ tc.modified_by }}</td>
					<td>{{ tc.modification_date }}</td>
					<td>
						<button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteModel_{{ tc.pk }}">Delete</button>
					</td>
				</tr>
			</tbody>
			<form action="{% url 'tc_delete' proj_id=proj_id suit_id=suit_id pk=tc.pk %}" method="post">

				{% csrf_token %}
					<div class="modal fade" id="deleteModel_{{ tc.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
						  <div class="modal-header">
							<h5 class="modal-title" id="deleteModalLabel">Are you sure to delete test-case?</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button class="btn btn-danger" type="submit">Delete</button>
						  </div>
						</div>
					  </div>
					</div>
				</form>
		{% endfor %}
    </table>
        <nav aria-label="Page navigation" class="page">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}{% if sort_enabled %}&sort={{ sort }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                       class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                {% if page_obj.number == page_number %}
                    <li class="page-item active">
                        <span class="page-link">{{ page_number }}
                        </span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ page_number }}{% if sort_enabled %}&sort={{ sort }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                           class="page-link">
                            {{ page_number }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}{% if sort_enabled %}&sort={{ sort }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                       class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}