{% extends 'root.html' %}

{% block content %}
	<div class="form-wrapper">
		{% if user.is_authenticated %}
			{% if suit and suit.pk %}
			<form class="form-with-fields" action="{% url 'suit_update' proj_id=proj_id pk=suit.pk %}" method="post">
				<h3>Edit suit</h3>
			{% else %}
			<form class="form-with-fields" action="{% url 'suit_create' proj_id=proj_id %}" method="post">
				<h3>Create new suit</h3>
			{% endif %}

			{% csrf_token %}
				<input name="user_id" value="{{ user_id }}" class="invisible"/>
				<p class="field-wrapper">
					<label for="SuitName">Suit name</label>
					<input class="form-control" name="name" id="SuitName" value="{{ name }}"/>
				</p>
				<p class="field-wrapper">
					<label for="Desc">Description</label>
					<textarea class="form-control" name="desc" id="Desc">{{ desc }}</textarea>
				</p>
				<button class="btn btn-success" type="submit">Create</button>
			</form>
			</form>
		{% else %}
			<p>You are not authorized</p>
		{% endif %}
	</div>
{% endblock %}