{% extends 'root.html' %}

{% block content %}

	{% if user.is_authenticated %}
		<div class="nav-wrapper">
			<nav aria-label="breadcrumb" class="custom-breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'projects' %}">Project {{ proj_name }}</a></li>
					<li class="breadcrumb-item"><a href="{% url 'suits' pk=proj_id %}">Suits</a></li>
					{% if suit and suit.pk %}
						<li class="breadcrumb-item active" aria-current="page">Edit suit {{ suit.name }}</li>
					{% else %}
						<li class="breadcrumb-item active" aria-current="page">New suit</li>
					{% endif %}
				</ol>
			</nav>
		</div>
		<div class="form-wrapper">
			{% if request.user.type == 'Tester' or request.user.type == 'Admin' or request.user.type == 'Owner' %}
				{% if suit and suit.pk %}
				<form class="form-with-fields" action="{% url 'suit_update' proj_id=proj_id pk=suit.pk %}" method="post">
					<h3>Edit suit</h3>
				{% else %}
				<form class="form-with-fields" action="{% url 'suit_create' proj_id=proj_id %}" method="post">
					<h3>Create new suit</h3>
				{% endif %}

				{% csrf_token %}
					<input name="user_id" value="{{ user_id }}" class="invisible"/>
					<p class="field-wrapper">
						<label for="SuitName">Suit name</label>
						<input class="form-control" name="name" id="SuitName" value="{{ name }}"/>
					</p>
					<p class="field-wrapper">
						<label for="Desc">Description</label>
						<textarea class="form-control" name="desc" id="Desc">{{ desc }}</textarea>
					</p>
					<button class="btn btn-success" type="submit">Create</button>
				</form>
				</form>
			{% else %}
				<div class="alert alert-warning" role="alert" style="width: 100%">
					You do not have permissions
				</div>
			{% endif %}
		{% else %}
			<div class="alert alert-warning" role="alert" style="width: 100%">
				You are not authorized
			</div>
		{% endif %}
	</div>
{% endblock %}