{% extends 'root.html' %}

{% block content %}
<style>
	.treeview span.icon.node-icon {
		margin-right: 1rem;
	}
</style>
<link href="https://cdn.jsdelivr.net/npm/jquery-treegrid@0.3.0/css/jquery.treegrid.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-treegrid@0.3.0/js/jquery.treegrid.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
	var submitHandler = function() {
		var formValid = !!myform.status.value && !!myform.desc.value && !!myform.name.value;
		if (!formValid) {
			alert("Fill all fields!");
			bootstrap.Modal.getInstance('#saveModal').hide()
			return;
		}
		var tree = $('#tree');
		var data = tree.bootstrapTable('getData');

		var projects = []
		var suits = []
		var cases = []

		data.forEach(item => {
			if (item.type == 'tp-proj') {
				projects.push(item.id)
			} else if (item.type == 'tp-suit') {
				suits.push(item.id)
			} else if (item.type == 'tp-case') {
				var assigneeSelector = document.querySelector(`.assignee-selector[data-uniqueid="${item.uniqueId}"]`);
				var statusSelector = document.querySelector(`.status-selector[data-uniqueid="${item.uniqueId}"]`);
				cases.push({
					id: item.id,
					tc_status: statusSelector.value || "IN PROGRESS",
					assignee: +assigneeSelector.value || null,
				})
			}
		});

		myform.proj.value = JSON.stringify(projects);
		myform.suit.value = JSON.stringify(suits);
		myform.tc.value = JSON.stringify(cases);

		myform.submit();
	};

	var filterExistingItems = function(type) {
		var tree = $('#tree');
		var rows = tree.bootstrapTable('getData');
		rows = rows.filter(r => r.type == type);
		var existingItems = {};
		rows.forEach(r => existingItems[r.id] = r.id);
		return existingItems;
	};

	var addProjectHandler = function() {
		var selectedProjects = $('#addProjectTable').bootstrapTable('getSelections');
		var existingItems = filterExistingItems('tp-proj');
		var newNodes = selectedProjects.filter(p => !existingItems[p.id]).map(p => ({
			"id": p.id,
			"name": p.name,
			"type": "tp-proj",
			"uniqueId": "proj_" + p.id
		}));
		$('#tree').bootstrapTable('append', newNodes);
		bootstrap.Modal.getInstance('#addProjectModal').hide()
	};

	var addSuitHandler = function() {
		var modal = bootstrap.Modal.getInstance('#addSuitModal')
		var projId = modal.projId;
		var clickedBtn = modal.clickedBtn;
		var selectedSuits = $('#addSuitTable').bootstrapTable('getSelections');
		var tree = $('#tree');
		var startIndex = +clickedBtn.parentNode.parentNode.dataset.index + 1;
		var existingItems = filterExistingItems('tp-suit');
		selectedSuits.forEach(s => {
			if (!existingItems[s.id]) {
				var node = {
					"id": s.id,
					"name": s.name,
					"type": "tp-suit",
					"parentId": "proj_" + projId,
					"uniqueId": "suit_" + s.id
				};
				tree.bootstrapTable('insertRow', {index: startIndex, row: node});
				startIndex++;
			}
		});
		bootstrap.Modal.getInstance('#addSuitModal').hide()
	}

	var addCaseHandler = function() {
		var modal = bootstrap.Modal.getInstance('#addCaseModal')
		var suitId = modal.suitId;
		var clickedBtn = modal.clickedBtn;
		var selectedCases = $('#addCaseTable').bootstrapTable('getSelections');
		var tree = $('#tree');
		var startIndex = +clickedBtn.parentNode.parentNode.dataset.index + 1;
		var existingItems = filterExistingItems('tp-case');
		selectedCases.forEach(c => {
			if (!existingItems[c.id]) {
				var node = {
					"id": c.id,
					"name": c.name,
					"type": "tp-case",
					"parentId": "suit_" + suitId,
					"uniqueId": "case_" + c.id,
					"desc": c.desc
				};
				tree.bootstrapTable('insertRow', {index: startIndex, row: node});
				startIndex++;
			}
		});
		initSelects();
		bootstrap.Modal.getInstance('#addCaseModal').hide()
	}

	var addProjectTableInitialized = false;
	var onAddProjectModalOpen = function() {
		var modal = new bootstrap.Modal(addProjectModal, {});
		modal.show();
		if (addProjectTableInitialized == false) {
			$('#addProjectTable').bootstrapTable({
				url: "{% url 'getprojects' %}",
				idField: "uniqueId",
				columns: [{
					checkbox: true
				}, {
					field: 'id',
					title: 'ID'
				}, {
					field: 'name',
					title: 'Project Name'
				}]
			})
			addProjectTableInitialized = true;
		} else {
			$('#addProjectTable').bootstrapTable('refreshOptions', {
				url: "{% url 'getprojects' %}",
			});
		}
	};

	var addSuitTableInitialized = false;
	var onAddSuitModalOpen = function(event, projId) {
		var modal = new bootstrap.Modal(addSuitModal, {});
		modal.show();
		modal.projId = projId;
		modal.clickedBtn = event.target;
		if (addSuitTableInitialized == false) {
			$('#addSuitTable').bootstrapTable({
				url: "{% url 'getsuits' %}" + "?projectid=" + projId,
				idField: "uniqueId",
				columns: [{
					checkbox: true
				}, {
					field: 'id',
					title: 'ID'
				}, {
					field: 'name',
					title: 'Suit Name'
				}]
			});
			addSuitTableInitialized = true;
		} else {
			$('#addSuitTable').bootstrapTable('refreshOptions', {
				url: "{% url 'getsuits' %}" + "?projectid=" + projId,
			});
		}
	};

	var addCaseTableInitialized = false;
	var onAddCaseModalOpen = function(event, suitId) {
		var modal = new bootstrap.Modal(addCaseModal, {});
		modal.show();
		modal.suitId = suitId;
		modal.clickedBtn = event.target;
		if (addCaseTableInitialized == false) {
			$('#addCaseTable').bootstrapTable({
				url: "{% url 'getcases' %}" + "?suitid=" + suitId,
				idField: "uniqueId",
				columns: [{
					checkbox: true
				}, {
					field: 'id',
					title: 'ID'
				}, {
					field: 'name',
					title: 'Case Name'
				}, {
					field: 'desc',
					title: 'Description'
				}]
			});
			addCaseTableInitialized = true;
		} else {
			$('#addCaseTable').bootstrapTable('refreshOptions', {
				url: "{% url 'getcases' %}" + "?suitid=" + suitId,
			});
		}
	};


	var removeHandler = function() {
		var selectedNodes = $('#tree').bootstrapTable('getSelections');
		if (selectedNodes && selectedNodes.length > 0) {
			$('#tree').bootstrapTable('remove', {
				field: "uniqueId",
				values: selectedNodes.map(n => n.uniqueId)
			});
		}
		initSelects();
	};

	$(function() {
		var tree = $('#tree')
		tree.bootstrapTable({
			data: {{ structure|safe }},
			idField: "uniqueId",
			showColumns: false,
			treeShowField: 'name',
			parentIdField: 'parentId',
			rowStyle :  function(row, index) {
				return {
					classes: row.type
				};
			},
			columns: [
				{
					field: "ck",
					checkbox: true,
					width: 30,
					widthUnit: "px"
				},
				{
					field: "name",
					title: "Name"
				},
				{
					field: "desc",
					title: " ",
					width: 30,
					widthUnit: "%",
					formatter: function(value, row) {
						if (row.type == "tp-proj") {
							return `<button type="button" class="btn btn-info" onclick="onAddSuitModalOpen(event, ${row.id})">Add suit</button>`
						} else if (row.type == "tp-suit") {
							return `<button type="button" class="btn btn-info" onclick="onAddCaseModalOpen(event, ${row.id})">Add case</button>`
						} else if (row.type == "tp-case") {
							return !row.assigneeName
							 	? `<select class="assignee-selector form-select form-select-md" data-uniqueid="${row.uniqueId}"></select>`
							 	: `<select class="assignee-selector form-select form-select-md" data-uniqueid="${row.uniqueId}">
							 		<option value="${row.assignee}" selected="selected">${row.assigneeName}</option>
							 	</select>`
						}
					}
				},
				{
					field: "desc",
					title: " ",
					width: 30,
					widthUnit: "%",
					formatter: function(value, row) {
						if (row.type == "tp-case") {
							return `<select class="status-selector form-select form-select-md" data-uniqueid="${row.uniqueId}">
								<option ${'IN PROGRESS' == row.tc_status ? "selected" : ""}>IN PROGRESS</option>
								<option ${'SUCCEED' == row.tc_status ? "selected" : ""}>SUCCEED</option>
								<option ${'FAILED' == row.tc_status ? "selected" : ""}>FAILED</option>
								<option ${'SKIPPED' == row.tc_status ? "selected" : ""}>SKIPPED</option>
							</select>`
						} else {
							return ""
						}
					}
				},
		  	],
			onPostBody: function() {
				var columns = tree.bootstrapTable('getOptions').columns

				if (columns && columns[0][1].visible) {
					tree.treegrid({
						treeColumn: 1,
						onChange: function() {
							tree.bootstrapTable('resetView')
						}
					})
				}
			}
		});
	});

	var selectChangeHandler = function(e) {
		var tree = $('#tree');
		var select = e.target;
		var index = select.parentNode.parentNode.dataset.index;
		var uniqueId = select.dataset.uniqueid;
		var treeData = tree.bootstrapTable('getData');
		var currentRow = treeData.find(item => item.uniqueId == uniqueId);
		if (select.classList.contains("assignee-selector")) {
			currentRow.assignee = select.value;
			currentRow.assigneeName = select.selectedOptions[0]?.text;
		} else if (select.classList.contains("status-selector")) {
			currentRow.tc_status = select.value;
		}
		tree.bootstrapTable('updateRow', {
			index,
			row: currentRow
	  	})
	  	initSelects();
	};

	var initSelect = function(select) {
		$(select).select2({
			placeholder: 'Select assignee',
			ajax: {
				url: "{% url 'get_list_of_users' %}",
				dataType: 'json',
			}
		});
		$(select).on("change.select2", selectChangeHandler);
	};

	var initSelects = function() {
		$(function() {
			var assigneeSelectors = $('.assignee-selector');
			for (var i = 0; i < assigneeSelectors.length; i++) {
				initSelect(assigneeSelectors[i]);
			}
			var statusSelectors = $('.status-selector');
			for (var i = 0; i < statusSelectors.length; i++) {
				statusSelectors[i].addEventListener("change", selectChangeHandler);
			}
		});
	};

	initSelects();
</script>
	<div class="form-wrapper">
		{% if user.is_authenticated %}
			{% if plan and plan.pk %}
			<h3>Edit test-plan</h3>
			{% else %}
			<h3>Create new test-plan</h3>
			{% endif %}

			{% if plan and plan.pk %}
			<form class="form-with-fields" action="{% url 'plan_update' pk=plan.pk %}" method="post" id="myform">
			{% else %}
			<form class="form-with-fields" action="{% url 'plan_create' %}" method="post" id="myform">
			{% endif %}



			{% csrf_token %}
				<input name="user_id" value="{{ user_id }}" class="invisible"/>
				<input name="modified_by_id" value="{{ modified_by_id }}" class="invisible"/>
				<input name="proj" class="invisible"/>
				<input name="suit" class="invisible"/>
				<input name="tc" class="invisible"/>
				<p class="field-wrapper">
					<label for="TPName">Test-plan name</label>
					<input class="form-control" name="name" id="TPName" value="{{ name }}"/>
				</p>
				<p class="field-wrapper">
					<label for="Desc">Description</label>
					<textarea class="form-control" name="desc" id="Desc">{{ desc }}</textarea>
				</p>
				<p class="field-wrapper">
					<label for="Status">Status</label>
					<select class="form-select form-select-md mb-3" name="status" id="Status">
						<option {% if 'IN PROGRESS' == status %} selected {% endif %}>IN PROGRESS</option>
						<option {% if 'DONE' == status %} selected {% endif %}>DONE</option>
						<option {% if 'CANCELLED' == status %} selected {% endif %}>CANCELLED</option>
					</select>
				</p>
			</form>
			</form>
			<div class="grid-toolbar">
				<button id="addProjectBtn" class="btn btn-success" type="button" onclick="onAddProjectModalOpen()">Add Project</button>
				<button id="removeItemsBtn" class="btn btn-danger" type="button" onclick="removeHandler()">Remove selected</button>
			</div>
			<table id="tree"></table>
			<button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#saveModal">Save</button>
			<div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="addProjectModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="addProjectModalLabel">Add project</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<table id="addProjectTable"></table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" onclick="addProjectHandler()">Add</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="addSuitModal" tabindex="-1" aria-labelledby="addSuitModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="addSuitModalLabel">Add suit</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<table id="addSuitTable"></table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" onclick="addSuitHandler()">Add</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="addCaseModal" tabindex="-1" aria-labelledby="addCaseModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="addCaseModalLabel">Add case</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<table id="addCaseTable"></table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" onclick="addCaseHandler()">Add</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="saveModalLabel">Are you sure to save changes?</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" onclick="submitHandler()">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<p>You are not authorized</p>
		{% endif %}
	</div>


{% endblock %}