{% extends 'root.html' %}


{% block title %}
    Login
{% endblock %}


{% block content %}
	<div class="form-wrapper">
		<h2>Log-in</h2>
		<form method="post" class="from-group">
			{% csrf_token %}
			<p class="field-wrapper">
				<label for="Name">Username: </label>
				<input class="form-control" name="username" id="Name" value="{{ username }}"/>
			</p>
			<p class="field-wrapper">
				<label for="Pass">Password: </label>
				<input class="form-control" name="password" id="Pass" value="{{ password }}" type="password"/>
			</p>
			<p>Don't have an account? Create one <a href="/signup">here</a></p>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>
{% endblock %}